<h1>Todo List</h1>
<mat-list>
  <mat-list-item *ngFor="let td of todos | async" #todoList>
    <p>
    <mat-icon matListIcon (click)="deleteTodo(td.id)" class="delete">delete</mat-icon>
    </p>
    <p matLine>
      <mat-checkbox (change)="isCompleted(td);">
        <div [ngClass]="{'completed': td.completed}">{{td.text}}</div>
      </mat-checkbox>
    </p>   
    <mat-divider></mat-divider>        
</mat-list-item>
</mat-list>
<p matLine>
  <button (click)="addTodo()" mat-raised-button color="primary">Add Todo</button>
</p>
